<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached">
		<div class="iteam">
			<img class="ui centered rounded image" src="<%= blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
			<div class="desctription">
				<p>
					<%- blog.body %>
				</p>
			</div>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class=" ui red basic button">Delete</button>
			</form>
			<a class=" ui button black basic" href="/blogs" >Back</a>
			<a class=" ui button yellow basic" href="/blogs/<%= blog._id%>/edit"  >Edit</a>

		</div>
	</div>
		

</div>

<% include ./partials/footer %>